language: java
jdk: oraclejdk8
deploy:
  provider: heroku
  api_key:
    secure: IzyuEpjcvkRx8G4bBe8jLhNHLq74iSdTVDRjNFz2iAFfWL1EKRZ7jvWiJyPzTgkKlZ7bt3rZZWuX+Oy6tOO+/2aO5+DBj2HCM4BlnOmTcyzv9jtX3jEeJu+qt3MquRscvn2JvJoBw0EvygMC69XgzVvcR0ewoWh/u6bPl7rewPnvD03lp8YzTos+3GrE7KR4ggCeXISC1LNQ+rtbYsPoIc72pGrjnjtIflfszs4pQaQdKlHth7BBxABT3Uhtb3E83JSthoW63QoVip+GqbgSKAInzyzqswOp97cJxzokfOIq5cn3JFnizNNFfKVqqiV2O0dgOw1x3ZsvPloDtZe0dmGnqHTf9rYgoSWKWI0ptjqPhj5g4Kuj65AWkY/64WreORLbfL8luxFFjsM+Q2wQC05TEjtC8cKhxKz080qWugec8g2WDe9ZMy6XVrrOW6dNeT0O1Nd3ipmq+LdqWCh9b7PbFLB3/1Q8t/7sizr23SUMZxofyIvTj+sUPdAFoT9WmCoQSjoNkOVMxUS2qZ1BYMH5W5h2rymGMRFzGIMHBWPqHqoAk+nk2mjLWAd0VHeTAFMHTCh3bZbaGzA/Se2991tBcaFLacRZOXvqdpU7yiOF17V3s+apvmhcbv1HJE1ulsClRG+VLfumSnvN2SLRpgdFjimjCtSWZNjn7xZMKrI=
  app: alertaapi-asistex
