language: java
jdk: oraclejdk8
deploy:
  provider: heroku
  api_key:
    secure: lly/t2bqidweRvWGuXGgtV62XHAjUV+i6voDJ/KSw90jcfNggn8HUMxfvQMhqFDZzXzwMgLAKwbnYrso6z2L+L+zdqwxjfD0M+bJ3H23Xp4/cV+sh8BRT3oacjV5wAZwv7r/+idZQpb3eez7T82WUTsTzTTJ6eVZc6mwJoRebIBOaedjz5huy9hWXc8o/nsOEosKv2jNb3D+nTdJAbI7md8p26+2N8xTnNIYdlF/zNucnu4hPsvG8P4mvk3lPmfNJsP9MkzXJP6NVoAbzITkLyFsODDNdxyIHZaLf552RkL8NOfLFcEPd9xWKIwxCkqq8/uoTc3QXRgvDrx7xNSVyQMTzkVd7liMcyNWhwlJHzF3P7suMR4pB2rFvXKyLHURB9sPYJRS4smQdB6ZV1vlmDbnc8Wt36xqoJceb4zYMF1zncXWB6nZn+Lx6ZL6t7FJlQ4MjFShu9N1MBc+NlmbXoRfjr9FPkgmRuRVoFqy1oMfds60c+183tkkqgLk/d+dSyxX10TU6XAb7PL/sl2FuOw0coSacbfyRs/0l5zRLAzX3TX3Q4hRIJNp2mUqILtLxafhLCiDjKTtJtqAVFFYD6tGaC4TMTRtVx2mTlDBYsBgGr5RZS6Tv5liOmCrl+8WnvdxBBCMNVSyz5ron8PobvXANCZxNIvU9yL4LICgskQ=
  app: alerta-slm
