language: java
jdk: oraclejdk8
deploy:
  provider: heroku
  api_key:
    secure:DcUc9Q9YMg8wRRPpNKUHiGLD/fJNxAyEKIkRQ8Uf5mHBBGFGZIsCanUkQ6ARehyYV1RRd8k5H3TYqc3i7R8VZaKjfFsx525fhgqViX2twVktsGFOgpOOLzpmd5molUaxDbJE0vtdKPENQaSjgr1BOCozePqW6E0JKMr9pwkjGzckbHzsEK+aSY6SGu7dxNmaD7513eiIYgyb1kNvKKVxYemx5PS3PpUHHX15XeNXutAk0oxdFAhMDXl5xRAnf678X3qOfw8b+AC8YSvls9paCQR/OfQ17tDblhqkDCELSn8RaUayt/TmHdCSzCX4j4c6zdxwTcZuJRiuGImTT+N2RydTOhyfQ3peD+1h+aLjabXt0r47/GmxRUplifytPAkcESrk0Txzv/VGOMz/qIuF832zfCatwr+ZLMZ+9nnW1w2bPOFDKdNOL/YQ+3Bk35VXiyJlsxizBgdHT8gPBY58bVbllOcve+3tn1skQd2a+RKGy89iWxzjg/j1/ZJbEelMv622nXZeLMO/WGaApqLYlzExmHifyqwMr/33yv77D7CD9hLvTvfbPdnrKMx23Gz8mJUdsemHVpDcfYP0c4CZXqioMx+cj9FgHA0lHvFWct4CU+ln6kcN/S9u4ArQCGX0UtWG+0cwY13Ulfr3H9qZG69i0gGXI4EAOf/YVNEOqUY=
  app: alertaapi-asistex
